.about-images {
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .image-wrapper {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .image-wrapper img {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
  }
  
  .image-wrapper:hover {
    transform: scale(1.05);
  }
  