/* Services section container */
.our-services-section {
    background-color: #f8f9fa;
  }
  
  /* Service card styles */
  .service-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  /* Service card title */
  .service-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #343a40;
    text-align: center;
  }
  
  /* Service card description */
  .service-description {
    font-size: 1rem;
    color: #6c757d;
    text-align: center;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .service-title {
      font-size: 1.15rem;
    }
  
    .service-description {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 576px) {
    .service-title {
      font-size: 1rem;
    }
  
    .service-description {
      font-size: 0.85rem;
    }
  }
  