{% load static%}

<footer>
  <div class="footer">
    <div class="row">
      <ul>
        <li><a class="text-white fs-5">Designed and Developed by:</a></li>
        <li>
          <a class="text-white fs-6" href="https://olewintechsolutions.com"
            >olewintechsolutions.com</a
          >
        </li>
        <li><a class="text-white fs-6">Bangalore-India</a></li>
      </ul>
    </div>

    <div class="row text-center fs-6 text-white justify-content-center">
      Copyright © 2023 All rights reserved
      <a class="text-warning fs-4" href="https://olewintechsolutions.com"
        >olewintechsolutions</a
      >
    </div>
  </div>
</footer>
