{% load static %}

<!-- footer section -->
<footer>
  <div class="footer ">
    <div class="contain p-4 m-2 w-auto h-auto fs-4 ">
      <div class="col">
        <img
          src="{% static 'images/brandlogo.svg' %}"
          alt=""
          width="200"
          height="50"
          class="d-inline-block align-text-center"
        />
        <h3 class="text-light fw-bold p-3 m-1">Medicare Medicals</h3>
      </div>
      <div class="col">
        <h2 class="text-warning">Team</h2>
        <ul class=" fw-bold fs-5">
          <li>Health Care</li>
          <li>Doorstep Services</li>
          <li>Home Cares</li>
        </ul>
      </div>
      <div class="col">
        <h2 class="text-warning">Health Products</h2>
        <ul class=" fw-bold fs-5">
          <li>For Kids & Childers</li>
          <li>First Aid</li>
          <li>Treatments</li>
          <li>Injuries</li>
        </ul>
      </div>
      <div class="col">
        <h2 class="text-warning">Contact us</h2>
        <ul class=" fw-bold fs-5">
          <li>+91 94920 77949</li>
          <li>08571 - 295559</li>
          <a class=" text-white fs-6 " href ="https://mail.google.com/mail/u/0/#compose">medicare@gmail</a>
        </ul>
      </div>
      <div class="col address">
        <h2 class="text-warning">Address</h2>
        <ul class=" fw-bold fs-5">
          <li>Medicare Medicals </br>
            <li>Near Mallikarjun Circle </li>
            <li>Opposite to BSNL Office</li>
            <li>Madanapalle -517325</li>
          </li>
        </ul>
      </div>
      <div class="col ">
        <h2 class="text-warning">Business Timings</h2>
        <ul class=" fw-bold fs-5">
          <li>Monday - 8AM - 11PM</br>
          <li>Tuesday- 8AM - 11PM</br>
          <li>Wednesday- 8AM - 11PM</br>
          <li>Thursday - 8AM - 11PM</br>
          <li>Friday- 8AM - 11PM</br>
          <li>Saturday- 8AM - 11PM</br>
          <li>Sunday- 8AM - 11PM</br>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul >
          <li><a href="#">CopyRight</a></li>
          <li><a href="#">Developer License </a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Report Us</a></li>
        </ul>
      </div>
      <div class="row text-center fs-6 text-white justify-content-center">
        Copyright © 2023 All rights reserved
        <a class="text-light fs-4" href="https://medicaremedicals.com"
          >medicaremedicals.com</a
        >
      </div>
      <div class="row text-center fs-6 text-white justify-content-center">
        Designed & Developed By :
        <a class="text-warning fs-4" href="https://olewintechsolutions.com"
          >olewintechsolutions</a
        >
        <h5>Bangalore - India</h5>
        
        <p>Visit:- <a class="text-primary fs-6" href="https://olewintechsolutions.com">
           olewintechsolutions.com
        </a></p>
      </div>
    </div>
  </div>
</footer>
