{% load static%}
<!-- Gallery -->
<h1 class="text-center fs-2 fw-bold pt-4">Gallery</h1>

<div class="row justify-content-center d-flex">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img
      src="https://lh3.googleusercontent.com/p/AF1QipNkA8xVjToVGplBlZyF4ufNzG_gWfais8zC-WmC=s1360-w1360-h1020"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img
      src="https://lh3.googleusercontent.com/p/AF1QipNedKv4LFZjnynUq5QbxHS9I9tyfwzYxsHssD4k=s1360-w1360-h1020"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img
      src="https://lh3.googleusercontent.com/p/AF1QipMMofWmZ44Unv6-t_y9IcpXtf2fq72WbajkmRx2=s1360-w1360-h1020"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img
      src="https://lh3.googleusercontent.com/p/AF1QipNEassyjXKC5mDhXKazd1Pi3gTNeZoUUIWQq3Qk=s1360-w1360-h1020"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img
      src="https://lh3.googleusercontent.com/p/AF1QipNZ8JuoaWtsRvJH5LkmOZrQHU79J0hAxYqO-jNz=s1360-w1360-h1020"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img
      src="https://lh3.googleusercontent.com/p/AF1QipO1PA6YJ8ccU-wJAZlL1dGg04hEzt_R9wXQq4LB=s1360-w1360-h1020"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img
      src="https://lh3.googleusercontent.com/p/AF1QipMILi70d9aHkbZuGRpVP8AAbAgLM8-8_C9AgX8m=s1360-w1360-h1020"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img
      src="https://lh3.googleusercontent.com/p/AF1QipPeI8sSKe01s8oAuv_9YtPTM6eSlAskMukjHgCT=s1360-w1360-h1020"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img src="" class="w-100 shadow-1-strong rounded mb-4" alt="" />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img src="" class="w-100 shadow-1-strong rounded mb-4" alt="" />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img src="" class="w-100 shadow-1-strong rounded mb-4" alt="" />
  </div>

  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img src="" class="w-100 shadow-1-strong rounded mb-4" alt="" />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img src="" class="w-100 shadow-1-strong rounded mb-4" alt="" />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img src="" class="w-100 shadow-1-strong rounded mb-4" alt="" />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img src="" class="w-100 shadow-1-strong rounded mb-4" alt="" />
  </div>

  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img src="" class="w-100 shadow-1-strong rounded mb-4" alt="" />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-3 m-3">
    <img src="" class="w-100 shadow-1-strong rounded mb-4" alt="" />
  </div>
</div>
<!-- Gallery -->
