{% load static%} {% include "header.html"%}
{% include "navbar.html"%}
<section class="row d-flex p-2 m-3">
  <div class="row-col-1">
    <div class="col">
      <h2 class="text-center fw-bold">Our Stores</h2>
      <p class="text-center fw-bold">Madanapalle- Andhra Pradesh</p>
    </div>
  </div>
</section>
<section class="contact_section layout_padding align-items-center">
  <div class="container">
    <div class="heading_container text-center">
      <h2>Branch -1</h2>
    </div>
    <div class="row">
      <div class="col">
        <div class="form_container contact-form">
            <div class="form-row">
              <div class="col-lg-8">
                <div>
                  <h4 class =" fw-bold ">Address</h4>
                  <ul>
                    <li class = "fw-bold">Medicare Medicals </li>
                    <li class="  text-primary" >+91 94920 77949 </li>
                    <li class =" text-primary">+08571- 295559 </li>
                    <li class =" text-primary"> medicaremedicals@gmail.com </li>
                    <li>Near Mallikarjun Circle </br> Opposite to BSNL Office </li>
                  </ul>
                </div>
              </div>
            </div>
            
        </div>
      </div>
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            class="gmap_iframe"
            frameborder="1"
            scrolling="yes"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=medicare medicals madanapalle&amp;t=&amp;z=11&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          >
          </iframe
          ><a href="https://connectionsgame.org/"></a>
        </div>
        <style>
          .mapouter {
            display: block;
  
            margin: auto;
            width: 100%;
            height: 400px;
          }
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 100%;
            height: 400px;
          }
          .gmap_iframe {
            margin: auto;
            display: block;
            height: 400px !important;
            width: 60%;
          }
        </style>
      </div>
      <br />
      <br />
      <br />
    </div>
  </div>
 
</section>
<section class="contact_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Branch -2</h2>
    </div>
    <div class="row">
      <div class="col">
        <div class="form_container contact-form">
            <div class="form-row">
              <div class="col-lg-8">
                <div>
                  <h4 class =" fw-bold ">Address</h4>
                  <ul>
                    <li class = "fw-bold">Medicare Medicals </li>
                    <li class="  text-primary" >+91 94920 77949 </li>
                    <li class =" text-primary">+08571- 295559 </li>
                    <li class =" text-primary"> medicaremedicals@gmail.com </li>
                    <li>Neerugattuvarupalli  </br> Opposite to Tomato Market </li>
                    <li>Madanapalle- 517325</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            class="gmap_iframe"
            frameborder="1"
            scrolling="yes"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=medicare medicals madanapalle&amp;t=&amp;z=11&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          >
          </iframe
          ><a href="https://connectionsgame.org/"></a>
        </div>
        <style>
          .mapouter {
            display: block;
  
            margin: auto;
            width: 100%;
            height: 400px;
          }
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 100%;
            height: 400px;
          }
          .gmap_iframe {
            margin: auto;
            display: block;
            height: 400px !important;
            width: 60%;
          }
        </style>
      </div>
      <br />
      <br />
      <br />
    </div>
  </div>
 
</section>

{% include "footer.html"%}
